<div id="<%= dom_id job_hunting_info %>">
  <p>
    <strong>User:</strong>
    <%= job_hunting_info.user_id %>
  </p>

  <p>
    <strong>Self pr:</strong>
    <%= job_hunting_info.self_pr %>
  </p>

  <p>
    <strong>Motivation:</strong>
    <%= job_hunting_info.motivation %>
  </p>

  <p>
    <strong>Extracurricular activities:</strong>
    <%= job_hunting_info.extracurricular_activities %>
  </p>

</div>
